controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

app.swagger_ui:
    # C'est cette route qui est la plus courante pour l'interface visuelle
    path: /api/doc 
    methods: GET
    defaults: { _controller: nelmio_api_doc.controller.swagger_ui }
